<div class="container-fluid mt-4">
  
  <div class="d-flex justify-content-end">
    <button class="btn btn-secondary mb-2" [routerLink]="'/add-employee'">Add Employee</button>
  </div>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Position</th>
        <th scope="col">Salary</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList">
        <th scope="row">{{employee.id}}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.position}}</td>
        <td>{{ employee.salary | currency:'INR':'symbol':'1.2-2' }}</td>
        <td><button class="btn btn-primary mx-2" [routerLink]="'employee-details/'+ employee.id"> view</button><button class="btn btn-danger mx-2" (click)="employeeDelete(employee.id)"> delete </button></td>
      </tr>
    </tbody>
  </table>
</div>
